/**** COLOR *****/
.navbar-default .navbar-nav>.active>a {
	background: #5FB0E4;
}
.navbar, .btn, .panel, .thumbnail, .form-control, .panel-heading {
	border-radius: 0;
}
.panel-primary {
	border-color: #D9DDE0;
}
.widget ul li {
	list-style: none;
	list-style-image: url('../img/list-style.png');
}
.btn-cantho {
	background: #00ac98;
	border: none;
}
a {
	color: #00ac98;
}
a:hover {
	text-decoration: none;
}
.widget ul {
	padding-left: 15px;
}
.margin-top-5 {
	margin-top: 5px;
}
/**** PAGE *****/
* {transition: 0.3s;}
.header {
	padding-top: 10px;
}
.cantho-navbar {
	background: #5FB0E4;
	border-radius: 0;
}
.cantho-navbar a {
	color: #FFF;
}
.navbar .nav > li > a  {
	color: #FFF !important;
}
.navbar .nav > li > a:hover,
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover {
	background: #00ac98;
}
.cantho .panel .panel-heading {
	background: #5FB0E4;
}
.post {
	padding: 10px;
}
.post h3.post-title {
	margin-top: 0;
}
.paid-ads {
	background: #EAEAD1;
}
.paid-ads .post-title {
	margin-top: 10px;
}
a.paid-job {
	color: #FF0000;
	font-weight: bold;
}
a.paid-job:hover {
	color: #00ac98;
}
.btn-readmore {
	clear: both;
}
span.index-company {
	color: #838383;
	font-style: italic;
}
div.index-job {
	border-bottom: 1px solid #DDD;
}
span.flash-hot {
	background: url('../img/hot.gif');
	background-repeat: no-repeat;
	background-position: center;
	width: 23px;
	height: 13px;
	position: relative;
	display: inline-block;
	zoom: 1;
	top: 1px;
}
footer {
	background: #3c3c3c;
	color: #d3d3d3;
}
/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 30px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
.media-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */
.col-sm-12 p {
  color: black;
}
.col-sm-12 p.pull-left {
  font-size: 15px;
  font-weight: 700;
}
.row.contet-news {
  border-bottom: 2px solid #E2E1E1;
  margin: 10px 0;
  padding-bottom: 10px;
}