* {transition: color 0.3s, background 0.3s;}

body {
	background: #f5f5f5;
}
.post, .post-detail {
	background: #FFF;
}
header {
	/* border-top: 2px solid #f4726d; */
}
a {
	color: #f4726d;
}
a:hover {
	color: #444;
	text-decoration: none;
}
.navbar-inverse .navbar-collapse, .navbar-inverse,
 .navbar-inverse .navbar-form, .dropdown-menu {
	background: #f4726d;
}
.dropdown-menu > li > a {
	color: #FFF;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:hover, 
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a, 
.navbar-inverse .navbar-nav > .open > a:hover, 
.navbar-inverse .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus
{
	background: #7C3326;
}

a.read-more {
	border: 2px solid #f4726d;
	border-radius: 5px;
	font-weight: bold;
	display: inline-block;
	padding: 5px;
}
a.read-more:hover {
	background: #f4726d;
}
.post-detail .post-title h3 {
	border-left: 5px solid #18bc9c;
	padding-left: 10px;
}